.skills__container{

    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .skills__container{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 1rem;
    }
}

@media screen and (max-width: 360px) {
    .skills__container{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    }
}