.description__redes{
    justify-content: space-around;
    align-content: flex-start;
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 360px) {

    .description__redes{
        justify-content: space-around;
        align-content: flex-start;
        display: flex;
        flex-direction: column;
    }
    
}

